    </main>
    <footer>
        <div class="footer-nav">
            <ul>
                <li><a href="#">Kezdőlap</a></li>
                <li><a href="#introduction-sect">Rólunk</a></li>
                <li><a href="#booking-sect">Időpontfoglalás</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul class="social-media">
                <li><img src="/assets/images/facebook.png" alt="Facebook ikon"></li>
                <li><img src="/assets/images/instagram.png" alt="Instagram ikon"></li>
                <li><img src="/assets/images/tiktok.png" alt="TikTok ikon"></li>
            </ul>
        </div>
    </footer>
    <script src="/main.js" type="module"></script>
</body>
</html>