    </main>
    <footer>
        <div class="footer-nav">
            <ul>
                <li><a href="/">Kezdőlap</a></li>
                <li><a href="/#introduction-sect">Rólunk</a></li>
                <li><a href="/#booking-sect">Időpontfoglalás</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul class="social-media">
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li>
                    <i class="fa-brands fa-square-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-tiktok"></i>
                </li>
            </ul>
        </div>
    </footer>
    <div id="top">
        <button>
            <i class="fa-solid fa-angle-up"></i>
        </button>
    </div>
    <script src="/main.js" type="module"></script>
</body>
</html>