# Adatbázis konfiguráció
DB_USER=postgres
DB_HOST=localhost
DB_NAME=hair_salon
DB_PASSWORD=your_password
DB_PORT=5432

# Biztonsági beállítások
JWT_SECRET=your_super_secret_key
MY_API_KEY=your_api_key_for_backend_communication