/* 600px and down */
body {
    grid: 
        "nav" auto
        "header" auto
        "main" auto
        "footer" auto
        / 1fr
    ;
}

/* Header */
header {
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    height: 60px;
}

h1 {
    padding-left: 20px;
    justify-self: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: var(--secondary-title-text-color);
}

/* Main */
main {
    background-color: var(--light-background-color);
    grid-template-columns: auto;
    max-height: 100%;
    height: 100%;
}

.d-nav {
    background-color: var(--dark-background-color);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-nav ul {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.d-nav li {
    padding: 10px 0;
}

.d-nav li a {
    color: var(--btn-text-color);
    text-decoration: none;
    padding: 5px;
}

.d-nav li a:hover {
    color: var(--btn-hover-text-color);
}

.d-content {
    overflow-x: auto;
    background-color: var(--light-background-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-only {
    display: block; 
    width: 90%;
    max-width: 500px;
}

.admin-item {
    width: 100%;
    background-color: var(--light-background-color);
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--dark-background-color);
}

.admin-header {
    background-color: var(--dark-background-color);
    color: var(--secondary-title-text-color);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.admin-details {
    display: none; /* Alapból zárva van */
    padding: 15px;
    background-color: white;
    color: var(--primary-text-color);
}

.admin-details p {
    margin-bottom: 8px;
}

table {
    display: none;
    min-width: 600px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table caption {
    color: var(--primary-text-color);
    padding: 10px 0;
    font-size: 1.5rem;
}

table, th, td {
    color: var(--secondary-text-color);
    border: 3px solid var(--light-background-color);
    border-collapse: collapse;
    background-color: var(--dark-background-color);
    width: auto;
    word-break: break-word;
}

th, td {
    padding: 20px 5px;
}

tr:hover td{
    cursor: pointer;
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-text-color);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* 600px and up */
@media only screen and (min-width: 600px) {
    body {
        grid: 
            "nav" auto
            "header" auto
            "main" auto
            "footer" auto
            / 1fr
        ;
    }
}

/* 768px and up */
@media only screen and (min-width: 768px) {
    body {
        grid: 
            "nav" auto
            "header" auto
            "main" 1fr
            "footer" auto
            / 1fr
        ;

    }
}

/* (992px and up) */
@media only screen and (min-width: 992px) {
    body {
        grid: 
            "nav" auto
            "header" auto
            "main" 1fr
            "footer" auto
        ;
    }

    /* Header */
    header {
        grid-area: header;
        margin-top: 80px;
    }

    /* Main */
    main {
        grid-template-columns: auto 2fr;
        grid-template-rows: 1fr;
    }

    .d-nav {
        height: 100%;
    }

    .d-nav ul {
        flex-direction: column;
        justify-content: center;
    } 

    .mobile-only {
        display: none;
    }

    .admin-list {
        display: none;
    }
    .table-container {
        display: block;
    }

    table:not(.hidden) {
        display: block;
    }
    
    table {
        width: 100%;
        margin-top: 20px;
    }

    table, th, td {
        width: auto;
    }
}

/* 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        grid: 
            "nav" auto
            "header" auto
            "main" 1fr
            "footer" auto
            / 1fr
        ;
    }
    
    /* Main */
    main {
        grid-template-columns: auto 2fr;
    }
}