/* (992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-size: 16px;
        display: grid;
        grid: 
            "nav" auto
            "header" 45vw
            "main" auto
            "footer" 15vw 
            / 1fr
        ;
    }

    /* Navigation */

    .hamburger {
        display: none;
    }

    .toggle-btn {
        display: none;
    }

    nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        font-size: 20px;
        padding: 20px;
    }

    .navbar {
        display: flex;
    }

    .main-menu {
        display: flex;
        list-style: none;
        gap: 2em;
        justify-content: space-around;
        align-items: center;
    }

    .main-menu > li {
        position: relative;
    }

    .main-menu li a {
        text-decoration: none;
        color: var(--nav-text-color);
        font-size: 20px;
        padding: 10px;
        display: block;
    }

    .main-menu > li:hover > a {
        color: var(--nav-hover-text-color);
    }

    .main-menu li:focus-within > .sub-menu,
    .main-menu li:hover > .sub-menu {
        display: initial;
    }

    nav a {
        text-decoration: none;
        color: var(--primary-color);
        display: block;
        padding: 20px;
        font-size: 20px;
    }

    .sub-menu {
        display: none;
        position: absolute;
        z-index: 1000;
        top: 51px;
        left: 0;
        background-color: var(--background-color);
        border-radius: 14px;
        box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
        list-style: none;
        padding: 0;
        min-width: 200px;
    }

    .sub-menu > li {
        width: 100%;
        padding: 10px;
    }

    .sub-menu a {
        text-decoration: none;
        color: var(--primary-color);
    }

    .sub-menu >li:hover > a {
        color: var(--hover-text-color);
    }

    /* Header */

    header {
        grid-area: header; 
    }

    /* Main */
    main {
        grid-area: main;
        display: grid;
        grid: 
            "fst-sect" auto
            "scnd-sect" auto
            "thd-sect" auto
            / 100%
        ;
    }

    /* Main/First-section */   

    .first-section {
        grid-area: fst-sect;
    }

    .first-section .flex-container1 {
        display: flex;                
        flex-direction: row;     
        justify-content: space-around;      
        align-items: center;         
        gap: 2rem; 
    }

    .img-container1 {
        flex: 1;
        width: 20em;
        height: 40em;
    }

    .introduction {
        flex: 1;
    }

    /* Main/Second-section */
    .second-section {
        grid-area: scnd-sect;
    }

    .second-section .flex-container2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        gap: 40px;
    }

    /*Kártyák*/

    .flex-item {
        width: 26em;
        height: auto;
    }

    .flex-item:hover {
        box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.2);
    }

    .flex-item > h3 {
        font-size: 20px;
    }

    .flex-item h5 {
        font-size: 18px;
    }

    .flex-item h6 {
        font-size: 14px;
    }

    .appointment {
        font-size: 18px;
        padding: 8px;
    }

    .booking-service {
        width: 60%;
    }

    /* Main/Third-section */
    .third-section {
        grid-area: thd-sect;
    }

    /* Footer */

    footer {
        grid-area: footer;
    }
}
